# Python cache files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Large files
*.dylib
*.log

# Output of git-lfs
*.bin

.env

